body {
    background-color: #e7feff;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}

#start {
    background-color: #2e95d5;
    padding: 2% 5%;
    margin: 0% 10%;
    border: 1px transparent;
    border-radius: 5px;
    color: #f6e8e8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 180%;
}

#start:hover {
    cursor: pointer;
}

.grid {
    z-index: 6;
    position: relative;
    display: grid;
    width: min-content;
    justify-content: center;
    padding: 0%;
    margin: 8%;
    float: center;
    border: 1px solid transparent;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5px;
}

.tile {
    z-index: 8;
    background-color: #1B3E77;
    color: #fffafa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    height: 80px;
    width: 80px;
    }
    
.tile:hover {
    font-weight: bold;
    cursor: pointer;
}

#correct {
    background-color: #027302;
    cursor: default;
    font-weight: 100;
}

#win {
    z-index: 10;
    position: absolute;

    text-align: center;
    vertical-align: 40%;
    line-height: 100%;
    width: 165px;
    height: 20px;
    padding: 60px;

    background-color: #991601;
    border: 1px transparent;
    color: #daa520;
    font-weight: bold;
    font-size: 180%;
    border-radius: 50%;


    left: 11%;
    bottom: 50%;
}

#hidden {
    display: none;
}